/.bundle/
/coverage/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
/.yardoc
/_yardoc/
.DS_Store
Gemfile.lock
.tool-versions
